.page {
  display: flex;
  height: 82rem;
  
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: start;
    gap: 1.25rem;

    a {
      text-decoration: none;
    }
  }
}
